[submodule "madocs/themes/kraiklyn"]
	path = themes/kraiklyn
	url = https://github.com/jsnjack/kraiklyn.git
[submodule "madocs/themes/hugo-material-docs"]
	path = themes/hugo-material-docs
	url = https://github.com/digitalcraftsman/hugo-material-docs.git
